[submodule "third_party/gpt-image-playground"]
	path = third_party/gpt-image-playground
	url = https://github.com/Arlenman/gpt_image_playground.git
	branch = main
[submodule "third_party/infinite-canvas"]
	path = third_party/infinite-canvas
	url = https://github.com/Arlenman/infinite-canvas.git
	branch = main
